
.kibo {
  background: #333;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 680px;
}

.kibo-wrapper {
  position: relative;
}

.kibo .kibo-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.kibo .kibo-key {
  background: #666;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #ccc;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 2.5rem;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  font-size: 1em;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 2px 3px;
  text-align: center;
}

.kibo .kibo-key.kibo-special {
  background-color: #606060;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.kibo .kibo-key:hover {
  background-color: #777;
  font-size: 1.5em;
}

.kibo .kibo-key:active {
  background-color: #555;
}

.kibo .kibo-key.kibo-special:hover {
  font-size: initial;
}

.kibo .kibo-key.kibo-space {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: auto;
  margin-right: auto;
}
